svg path {
  fill: black/40;
}

svg path:hover {
  cursor: pointer;
  transition: 0.6s;
}
#slidein {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #edede9;
  transform-origin: bottom;
}
#slideout {
  z-index: 15;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #edede9;
  transform-origin: top;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.pulsing-dot {
  animation: pulse 1.5s infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.pulsing-ring {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  75%,
  100% {
    transform: scale(3); /* Makes it grow 3x larger */
    opacity: 0;
  }
}
